<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.qc.seclass.glm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/two"
        android:label="@string/app_name"
        android:roundIcon="@drawable/two"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReminderListActivity" />
        <activity android:name=".ReminderTypes" />
        <activity android:name=".Reminders" />
        <activity android:name=".EditReminder" />
        <activity android:name=".Search"></activity>
    </application>

</manifest>